# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [19]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [20]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [22]:
# Pasamos item_price de "string" a float
chipo['item_price'] = chipo['item_price'].str.replace('$','')
chipo['item_price'] = chipo['item_price'].astype(float)

In [48]:
products = chipo.loc[chipo['quantity'] == 1, ['item_name', 'item_price']]
products.loc[products['item_price'] > 10, ['item_name', 'item_price']].drop_duplicates()
# products.loc[products['item_price'] > 10]['item_name'].unique()

                  item_name  item_price
5              Chicken Bowl       10.98
7             Steak Burrito       11.75
13             Chicken Bowl       11.25
23          Chicken Burrito       10.98
39            Barbacoa Bowl       11.75
57           Veggie Burrito       11.25
62              Veggie Bowl       11.25
79       Chicken Soft Tacos       11.25
90               Steak Bowl       11.75
93         Carnitas Burrito       11.75
97            Carnitas Bowl       11.75
130        Barbacoa Burrito       11.75
147           Steak Burrito       11.48
163           Carnitas Bowl       11.48
167         Chicken Burrito       11.25
168   Barbacoa Crispy Tacos       11.75
186       Veggie Salad Bowl       11.25
187              Steak Bowl       11.48
250           Chicken Salad       10.98
322           Steak Burrito       11.08
365    Chicken Crispy Tacos       11.25
427      Chicken Soft Tacos       10.98
429   Barbacoa Crispy Tacos       11.48
435          Veggie Burrito       10.98
471           Barbacoa Bowl       11.48
476         Chicken Burrito       10.58
606        Steak Salad Bowl       11.89
738       Veggie Soft Tacos       11.25
822           Carnitas Bowl       11.08
825              Steak Bowl       11.08
988     Barbacoa Soft Tacos       11.75
1008  Carnitas Crispy Tacos       11.75
1027   Chicken Crispy Tacos       10.98
1063       Carnitas Burrito       11.48
1132    Carnitas Salad Bowl       11.89
1189     Chicken Salad Bowl       11.25
1229    Barbacoa Salad Bowl       11.89
1353       Steak Soft Tacos       11.75
1648       Barbacoa Burrito       11.08
1721       Steak Soft Tacos       11.48
1863            Veggie Bowl       10.98
1963    Carnitas Soft Tacos       11.75
2231     Steak Crispy Tacos       11.75
2884       Carnitas Burrito       11.08
2919           Chicken Bowl       10.58
3184    Barbacoa Soft Tacos       11.48
3276       Barbacoa Burrito       11.48
4510          Barbacoa Bowl       11.49

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

### Step 6. Sort by the name of the item

In [49]:
chipo.item_name.sort_values()

# OR

chipo.sort_values(by = "item_name")

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [52]:
chipo.sort_values(by = "item_price", ascending = False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [54]:
chipo.loc[chipo['item_name'] == 'Veggie Salad Bowl'].count()

order_id              18
quantity              18
item_name             18
choice_description    18
item_price            18
dtype: int64

### Step 9. How many times did someone order more than one Canned Soda?

In [57]:
cannedsoda = chipo.loc[chipo['item_name'] == 'Canned Soda']
cannedsoda.loc[cannedsoda['quantity'] > 1].count()

order_id              20
quantity              20
item_name             20
choice_description    20
item_price            20
dtype: int64